html { height: 100% }
body { height: 100%; margin: 10; padding: 0 }
#map-canvas { height: 99%}
#panel {
        position: absolute;
        bottom: 5px;
        left: 5%;
        margin-left: -180px;
        z-index: 1;
        background-color: #FFFFD1;
        padding: 5px;
        font: -webkit-small-control;
        font-size:14x;
        border: 1px solid #999;
      }
.side-panel {
        position: absolute;
        top: 75px;
        left: 1%;
        margin-left: 0px;
        z-index: 5;
        width: 150px;
        background-color: #ECEBEB;
        font: -webkit-small-control;
        font-size:12x;
        padding: 5;
      }

#inputs {
      position: absolute;
      top: 8px;
      left: 301px;
      z-index: 5;
      width: 75px;
      background-color: #ECEBEB;
      padding: 1;

    }
#draw {
    cursor: pointer;
    float: left;
    margin: 4px 2px 5px 2px;
    height: 20px;
    width: 80px;
    border: 1px solid #999;
    background-color: #FFFFFF;
    }
    
#add {
    cursor: pointer;
    float: left;
    margin: 4px 2px 5px 2px;
    height: 20px;
    width: 80px;
    border: 1px solid #999;
    background-color: #FFFFFF;
    }

#upload-wrap {
    float: left;
    height: 30px;
    width: 200px;
    display:none;
    }
    
.import-button {
    cursor: pointer;
    float: left;
    margin: 0px 10px 0px 0px;
    height: 27px;
    width: 75px;
    border: 1px solid #000;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    }

#lat {width: 136px;
      margin-left:2px;
      margin-right:2px;
    }
#lng {width: 136px;
      margin-left:2px;
      margin-right:2px;
    }
#weight {width: 136px;
      margin-left:2px;
      margin-right:2px;
    }
#cost {width: 136px;
      margin-left:2px;
    }
#coststep {width: 136px;
      margin-left:2px;
      margin-right:2px;
    }
