html { height: 100% }
body { height: 100%; margin: 10; padding: 0 }
#map-canvas { height: 100%}
#panel {
        position: absolute;
        bottom: 5px;
        left: 5%;
        margin-left: -180px;
        z-index: 1;
        background-color: #FFFFD1;
        padding: 5px;
        border: 1px solid #999;
      }
#panel2 {
        position: absolute;
        top: 75px;
        left: 1%;
        margin-left: 0px;
        z-index: 5;
        width: 150px;
        background-color: #ECEBEB;
        padding: 1;
      }

  #inputs {
        position: absolute;
        top: 8px;
        left: 301px;
        margin-left: 0px;
        z-index: 5;
        width: 75px;
        background-color: #ECEBEB;
        padding: 1;
        
      }
#draw {
    cursor: pointer;
    float: left;
    margin: 0px 0px 0px 2px;
    height: 20px;
    width: 80px;
    border: 1px solid #999;
    background-color: #FFFFFF;
    }
    
#add {
    cursor: pointer;
    float: left;
    margin: 0px 0px 0px 2px;
    height: 20px;
    width: 80px;
    border: 1px solid #999;
    background-color: #FFFFFF;
    }

#upload-wrap {
    float: left;
    height: 30px;
    width: 200px;
    display:none;
    }
    
.import-button {
    cursor: pointer;
    float: left;
    margin: 0px 10px 0px 0px;
    height: 27px;
    width: 75px;
    border: 1px solid #000;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    }

#lat {width: 140px;}
#lng {width: 140px;}
#weight {width: 140px;}
#cost {width: 140px;}
#coststep {width: 140px;}