html { height: 100% }
body { height: 100%; margin: 10; padding: 0 }
#map-canvas { height: 100%}
#panel {
        position: absolute;
        bottom: 5px;
        left: 5%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
#panel2 {
        position: absolute;
        top: 40px;
        left: 1%;
        margin-left: 0px;
        z-index: 5;
        background-color: #fff;
        padding: 0;
        border: 1px solid #999;
      }
#latlng {width: 225px;}