html { height: 100% }
body { height: 100%; margin: 10; padding: 0 }
#map-canvas { height: 100%}
#panel {
        position: absolute;
        bottom: 5px;
        left: 5%;
        margin-left: -180px;
        z-index: 1;
        background-color: #FFFFD1;
        padding: 5px;
        border: 1px solid #999;
      }
#panel2 {
        position: absolute;
        top: 75px;
        left: 1%;
        margin-left: 0px;
        z-index: 5;
        background-color: #ECEBEB;
        padding: 1;
      }
      
  #panel3 {
        position: absolute;
        top: 25px;
        left: 1%;
        margin-left: 0px;
        z-index: 5;
        width: 285px;
        background-color: #ECEBEB;
        padding: 1;
        
      }
      #inputs {
        position: absolute;
        top: 50px;
        left: 1%;
        margin-left: 0px;
        z-index: 5;
        width: 285px;
        background-color: #ECEBEB;
        padding: 1;
        
      }
#latlng {width: 235px;}
#cost {width: 115px;}
#coststep {width: 115px;}